/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Common */
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

input{
    border: 1px solid #ccc;
    min-width: 100%;
}

form{
    padding: 0 16px 16px 16px;
}
.mt-8{
    margin-top: 8px !important;
}
.mt-16{
    margin-top: 16px ;
}
.mt-24{
    margin-top: 24px !important;
}
.mr-8{
    margin-right: 8px !important;
}

.mr-16{
    margin-right: 16px !important;
}
.red{
    color: #f44336 !important;
}
.bg-red{
    background-color: #f44336 !important;
}

.bg-black{
    background-color: #000 !important;
}

.text-white{
    color: #fff !important;
}

.bed-icon{
    font-size: inherit !important;
}
.input-form{
    padding: 16px;
    margin-top: 8px;
    flex:1;
}

/* Menu Bar */
#menu{
    font-size: 17px;
    height: 44px;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
}

#menu .nav{
    display: flex;
    flex-direction: row;
}

#menu .nav li{
    list-style: none;
}

#menu .nav a{
    color: #000;
    font-weight: 500;
    text-decoration: none;
    padding: 12px 16px;
    display: block;
}
#menu .nav li:hover a{
    background-color: #ccc !important;
    cursor: pointer;
}

#menu .booking--btn{
}

#menu .booking--btn a{
    color: #000;
    background-color: #f1f1f1;
    font-weight: 500;
    text-decoration: none;
    padding: 12px 16px;
    display: block;
}
#menu .booking--btn a:hover{
    background-color: #ccc;
}

/* Header */
#header{
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url('../img/hotel.jpg') top center / cover no-repeat;
}

#header .dialog{
    background-color: #fff;
    width: 50%;
    margin-left: 16px;
}

#header .header-box{
    font-size: 30px;
    padding: 18px 16px;
}

#header .content-box{
}

#header .row-form{
    display: flex;
    flex-wrap: wrap;
}

#header .check-in,
#header .check-out,
#header .adult,
#header .kid{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 16px;
    
}




#header .submit-btn{
    font-size: 16px;
    color: #fff;
    background-color: #616161;
    outline: none;
    padding: 12px 16px;
    margin-left: 16px;
    border: none;
    cursor: pointer;
}
#header .submit-btn:hover{
    color: #000;
    background-color: #ccc;
}

/* Content  */
#content .room-title h2{
    font-weight: 500;
}
#content .room-section{
    padding: 32px 16px 16px 16px;
    background-color: #f1f1f1;

}

#content .room-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

}

#content .col{
    display: flex;
    flex-direction: column;
    padding-right: 16px;
    flex: 1;
}

#content .room-submit-btn{
    font-size: 15px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    padding: 16px 8px;
    appearance: none;
    -webkit-appearance: none;
}
#content .room-submit-btn:hover{
    color: #000;
    background-color: #ccc;
}

/* Card Item */
#content .cards{
    display: flex;
}
#content .card{
    width: 33.33333%;
}

#content .card__img{
    display: flex;
}

#content .card__content,
#content .card__icon{
    padding: 8px 16px;
    background-color: #fff;
}

#content .card__content{
    line-height: 2.2;
}

#content .card__content h2{
    font-weight: 400;    
}
#content .card__content h6{  
    font-size: 16px;    
    font-weight: 400;
    font-style: italic;
    opacity: 0.8;
}
#content .card__content p{  
    font-size: 15px;    
    font-weight: 400;
    opacity: 0.9;
}
#content .card__btn{
    padding: 16px;
    background-color: #fff;
}

/* About */
#content .about-section{
    padding: 16px;
    background-color: #f1f1f1;
    display: flex;
}

#content .about-content{
    flex: 1;
}
#content .about-content h3{
    font-size: 24px;
    font-weight: 500;
}
#content .about-content p{
    font-size: 16px;
    line-height: 1.8;
    text-align: justify;
}

#content .about-img{
    flex: 2;
    filter: grayscale(75%);
}

/* Service  */
#content .service-section{
    padding: 16px;
    background-color: #f1f1f1;
}

#content .info{
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
}
#content .info i{
    font-size: 16px;
}
#content .service-content{
    padding: 42px 16px;
}
#content .service-content i{
    font-size: 14px;
}

#content .info-icon{
    background-color: #ff5722;
    padding: 8px 16px;
}

/* Our Hotel */
#content .ourhotel-section{
    padding: 16px;
    background-color: #f1f1f1;
}

#content .hotel-title h3{
    font-size: 24px;
    font-weight: 500;
}

#content .hotel-desc{

}

#content .hotel-img{
    display: flex;
    flex-direction: row;
    padding: 32px 0;
}

#content .img-first{
    flex: 2;
}

#content .img-second{
    display: flex;
    flex-direction: column;
    flex: 1;
}

/* Subscribe */
#content .subs-section{
    padding: 32px 16px;
    background-color: #000;
    opacity: 0.6;
}
#content .subs-section:hover{
    opacity: 1;
}
#content .subs-section h2{
    font-size: 30px;
    font-weight: 500;
}

#content .subs-btn{
    font-size: 15px;
    color: #fff;
    outline: none;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

#content .subs-btn:hover{
    color: #000;
    background-color: #ccc !important;
}

/* Contact */
#content .contact-section{
    background-color: #f1f1f1;
    padding: 32px 16px;
}

#content .contact-info{
    font-size: 15px;
    line-height: 2;
}
#content .contact-info i{
    font-size: 12px;
}

/* Footer */
#footer{
    background-color: #000;
    text-align: center;
    padding: 32px 0;
}
#footer .footer-title h3{
    font-size: 18px;
    font-weight: 500;
}
#footer .socials-list{
    font-size: 24px;
}

#footer .socials-list i:hover{
    opacity: 0.6;
}

#footer .copyright a{
    color: #fff;
}

#footer .copyright a:hover{
    opacity: 0.6;
}
